body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  
}

.map-overlay {
  position: absolute;
  left: 0;
  padding: 5px;
  border-radius: 100px;
}

.button {
    color: black;
    background-color: rgb(138, 139, 140);
    border: solid rgb(138, 139, 140);
    border-radius: 100px;
    border-color:  rgb(163, 31, 52);
    border-width: 5px;
    padding: 15px;
}